.fondo-desigualdades {
  background-repeat: repeat-x;
  background-position: top;
  background-size: 100%;
  background: transparent;
  background-image: url(../../images/fondo-desigualdades-2018.png);
  max-height: 423px;
}

.fondo-azul-claro {
  background-color: #6d959d;
}

.fondo-azul-obscuro {
  background-color: #4c6a71;
}

.bloque {
  display: block;
}

.azul-claro {
  color: #6d959d
}

.azul-obscuro {
  color: #4c6a71
}

.titulo-desigualdades {
  padding-bottom: 40px;
  padding-top: 26px;
}

.titulo-desigualdades h3 {
  font-weight: 600;
  font-size: 1.6em;
  color: #212121;
  padding: 0 30px;
  border-bottom: 4px solid #F0F0F0;
  padding-bottom: 12px;
  position: relative;
  text-transform: uppercase;
}

.titulo-desigualdades h3:after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 20%;
  background: #4c6a71;
}

.enlace {
  color: #6d959d;
  font-size: 24px;
  font-weight: 600;
}

.enlace:hover {
  color: #4c6a71;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 10px;
  font-weight: normal;
}

.izquierda {
  text-align: left;
}
.margen-superior {margin-top: 35px}

/****    Agregar estos estilos en la hoja principal    ****/

.dropdown-menu li a:focus, .dropdown-menu li a:hover {
  background: #592C5F;
  color: #fff;
  padding-left: 23px;
}

.gallery-menu ul li {
  font-size: 21px;
  font-weight: bold;
}
