<footer class="footer-section">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2 col-sm-5 col-sm-offset-0">
          <div class="copyright-text">
            <p>&copy; <%= Date.current.year %> <a href="https://www.colmex.mx">El Colegio de México, A.C.</a></p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2 col-xs-6 col-xs-offset-3">
        </div>
      </div>
    </div>
  </div>
</footer>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script>
		  window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.0.min.js"><\/script>')
	</script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/circle.progress.js"></script>
	<script src="/js/isotope.pkgd.min.js"></script>
	<script src="/js/custom.isotop.js"></script>
	<script src="/js/enscroll-0.6.2.min.js"></script>
	<script src="/js/jquery.flexslider.js"></script>
	<script src="/js/jquery.nstSlider.min.js"></script>
	<script src="/js/lightcase.js"></script>
	<script src="/js/masonry.js"></script>
	<script src="/js/swiper.min.js"></script>
	<script src="/js/TimeCircles.js"></script>
	<script src="/js/functions.js"></script>
