<footer class="footer-section">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2 col-sm-5 col-sm-offset-0">
          <div class="copyright-text">
            <p>&copy; <%= Date.current.year %> <a href="https://www.colmex.mx">El Colegio de México, A.C.</a></p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2 col-xs-6 col-xs-offset-3">
        </div>
      </div>
    </div>
  </div>
</footer>
