<!--[if lt IE 8]>
            <p class="browserupgrade">Está usando un navegador <strong>obsoleto</strong>. Le sugerimos <a href="http://browsehappy.com/">actualizar su navegador</a> para mejorar su navegación.</p>
        <![endif]--> 
<!-- Sección del encabezado -->
<%= render 'inicio/header' %>
<!-- Fin de sección de encabezado --> 
<!-- Banner superior -->
<section class="breadcrumb-section">
  <div class="section-overlay">
    <div class="container">
      <div class="breadcrumb-area">
        <h2 class="breadcrumb-title">Publicaciones seleccionadas de académicos de El Colegio de México en temas de desigualdadades</h2>
      </div>
    </div>
  </div>
</section>
<!-- Fin de banner superior --> 
<!-- Sección de la información -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="helping-description col-xs-12 col-md-10">
        
		  <ul class="order-list">
  
			  <li>Alba, Francisco. (2003). “Tendencias de la desigualdad regional en México ante el TLC”. En Noé Fuentes, Alejandro Díaz-Bautista y Sára Martínez-Pellégrini (coords.) <em>Crecimiento con convergencia o divergencia en las regiones de México: asimetría centro-periferia</em>.México: El Colegio de la Frontera Norte, Plaza y Valdés editores, pp. 151-166.<br><a href="https://books.google.com.mx/books?hl=es&lr=&id=OuMdt_wZx38C&oi=fnd&pg=PA7&dq=Crecimiento+con+convergencia+o+divergencia+en+las+regiones+de+M%C3%A9xico:+asimetr%C3%ADa+centro-periferia.&ots=XMepnhVYNe&sig=kaXKJruq0dFoED2gsI3MwVuRklI#v=onepage&q=Crecimiento%20con%20convergencia%20o%20divergencia%20en%20las%20regiones%20de%20M%C3%A9xico%3A%20asimetr%C3%ADa%20centro-periferia.&f=false" target="_blank">Ver documento</a></li>

			  <li>Arnaut, Alberto y Silvia Giorguli (coords.). (2010). <em>Los grandes problemas de México. Educación</em>. México: El Colegio de México.<br><a href="https://www.jstor.org/stable/j.ctt1657t7z" target="_blank">Ver documento</a><br>
<a href="https://www.academia.edu/15990835/Los_grandes_problemas_de_México._VII._Educación._México._El_Colegio_de_México_2010._684_p" target="_blank">Ver documento</a></li>

			  <li>Blanco, Emilio. (2012). “El reciclaje de la desigualdad: exclusiones educativas en América Latina”. En  Martín Puchet, Mariano Rojas, Rodrigo Salazar, Giovanna Valenti y Francisco Ugalde (coords.) <em>América Latina en los albores del siglo XXI</em>. México, Facultad Latinoamericana de Ciencias Sociales.<br><a href="https://ces.colmex.mx/pdfs/emilio/reciclaje_des.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2014). “El reciclaje de la desigualdad: exclusiones educativas en América Latina”. <em>La desigualdad social en el nivel medio superior de educación de la Ciudad de México</em>. Papeles de población, vol. 20, núm. 80, pp. 249-280.<br><a href="https://ces.colmex.mx/pdfs/emilio/desigualdad_social.pdf" target="_blank">Ver documento</a></li>
  
			  <li>Blanco, Emilio; Patricio Solís y Héctor Robles. (coords.) (2014). <em>Caminos desiguales: trayectorias educativas y laborales de los jóvenes en la Ciudad de México</em>. México: El Colegio de México/ INEE.<br><a href="http://publicaciones.inee.edu.mx/buscadorPub/P1/C/230/P1C230.pdf" target="_blank">Ver documento</a></li>

			  <li>Campos, Raymundo. (2013). “Pobreza y desigualdad en México: identificación y diagnóstico”. En Leticia Cano (coord.), <em>Pobreza y desigualdad social. Retos para la reconfiguración de la política social</em>. México, Ediciones Díaz de Santos/Universidad Nacional Autónoma de México.<br><a href="https://cee.colmex.mx/documentos/documentos-de-trabajo/2013/dt20138.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2016). <em>Promoviendo la Movilidad Social en México: Informe de Movilidad Social 2015</em>. México: El Colegio de México.<br><a href="https://movilidadsocial.colmex.mx/images/promoviendo-la-movilidad-rc.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2016). <em>Cooperación y preferencias sociales. Análisis económico sobre altruismo, justicia, confianza y equidad</em>. México: El Colegio de México.<br><a href="http://www.jstor.org/stable/j.ctt1z27h3n" target="_blank">Ver documento</a></li>

			  <li>Castillo, M.A. (2008). “La frontera México-Guatemala: Un entorno de asimetrías, desigualdades sociales y movilidad poblacional. Proyecto: Desarrollo de propuestas de política pública en asuntos de migración.” En Sin Fronteras, IAP,<em> Cambiando perspectivas: de la gestión de flujos hacia la construcción de políticas de migración con enfoque de desarrollo</em>. México. UAZ, Sin Fronteras, INCIDE social, Miguel Ángel Porrúa, pp. 73-112.<br><a href="https://www.worldcat.org/title/cambiando-perspectivas/oclc/935258659" target="_blank">Ver documento</a></li>

			  <li>Cortés, Fernando. (1996). “La evolución en la desigualdad del ingreso familiar, durante la década de los ochenta”. En Sociedad Mexicana de Demografía. <em>Hogares, Familias: Desigualdad, Conflicto, Redes Solidarias y Parentales</em>, pp. 77-89.</li>

			  <li>_____. (2003). “Casi cuarenta años de desigualdad”. En Ilán Bizberg y Lorenzo Meyer (coords.), <em>Una historia contemporánea de México: transformaciones y permanencias</em>. México, Océano.<br><a href="https://librosmexico.mx/libros/15421" target="_blank">Ver documento</a><br><a href="https://libros.colmex.mx/ficha/?b=2687" target="_blank">Ver documento</a></li>

			  <li>_____. (2014). “Enfrentar la pobreza o reducir la desigualdad: ¿es un dilema?”. En Tonatiuh Guillén y Gerardo Ordóñez (coords.), <em>Desafíos de la pobreza para la agenda del desarrollo en México</em>. México, El Colegio de la Frontera Norte/El Colegio de México.<br><a href="https://libros.colmex.mx/ficha/?b=1067" target="_blank">Ver documento</a><br><a href="https://www.researchgate.net/publication/304630197_Desafios_de_la_pobreza_para_la_agenda_del_desarrollo_de_Mexico" target="_blank">Ver documento</a></li>

			  <li>Cortés, F. y Orlandina de Oliveira (coords.) (2010). Desigualdad social. En Ordorica, Manuel y Prud’homme, Jean François (eds.), <em>Los Grandes Problemas de México</em>, tomo V. México: El Colegio de México.<br><a href="http://2010.colmex.mx/16tomos/V.pdf" target="_blank">Ver documento</a></li>

			  <li>Escoto, Ana. y Brígida García. (2016). “Condiciones laborales y comercio exterior en México”. En Dídimo Castillo, Norma Baca y Rosalba Todaro (coords.) <em>Trabajo global y desigualdades en el mercado laboral</em>. Toluca: Universidad Autónoma del Estado de México/ FLACSO.<br><a href="http://ri.uaemex.mx/bitstream/handle/20.500.11799/66128/TrabajoGlobal.pdf?sequence=1" target="_blank">Ver documento</a></li>

			  <li>Esquivel, Gerardo. (2005). <em>Crecimiento económico, desarrollo humano y desigualdad regional en México, 1950-2000</em>. México: SEDESOL.<br><a href="https://www.researchgate.net/profile/Luis_Lopez-Calva/publication/237399185_Crecimiento_economico_desarrollo_humano_y_desigualdad_regional_en_Mexico_1950-2000/links/543fb9060cf2fd72f99d3d71.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2009). <em>“The Dynamics of Income Inequality in Mexico Since NAFTA”</em>. Preparado para el Proyecto Markets, the State and the Dynamics of Inequality: How to Advance Inclusive Growth, coordinado por Luis López y Nora Lustig. Nueva York: Programa de las Naciones Unidas para el Desarrollo.<br><a href="http://economia.lacea.org/GEsquivel.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2015). <em>Desigualdad Extrema en México: Concentración del Poder Económico y Político</em>. Consultado el 5 de diciembre de 2018 en el portal de OXFAM México.<br><a href="https://www.oxfammexico.org/sites/default/files/desigualdadextrema_informe.pdf" target="_blank">Ver documento</a></li>

			  <li>Esquivel, Gerardo; Nora Lustig y John Scott. (2009). <em>“A Decade of Falling Inequality in Mexico: Market Forces or State Action?”</em>. Preparado para Markets, the State and the Dynamics of Inequality: How to Advance Inclusive Growth, coordinado por Luis López y Nora Lustig. Nueva York: Programa de las Naciones Unidas para el Desarrollo.<br><a href="http://www.noralustig.org/wp-content/uploads/2011/08/Esquivel-Gerardo-Nora-Lustig-John-Scott.A-Decade-of-Falling-Inequality-in-Mexico-Market-Forces-or-State-Action.Chapter-7.pdf" target="_blank">Ver documento</a></li>

			  <li>Flamand, Laura y Carlos Moreno-Jaimes. (2014). <em>Seguro Popular y federalismo en México: un análisis de política pública</em>. México: Centro de Investigación y Docencia Económicas (CIDE).<br><a href="https://books.google.com.mx/books?hl=es&lr=&id=UxCaBgAAQBAJ&oi=fnd&pg=PT3&dq=).+Seguro+Popular+y+federalismo+en+M%C3%A9xico:+un+an%C3%A1lisis+de+pol%C3%ADtica+p%C3%BAblica&ots=lCHNdifDSy&sig=U25ejGC2uThToEAcX3ZkUQMfmu4#v=onepage&q=).%20Seguro%20Popular%20y%20federalismo%20en%20M%C3%A9xico%3A%20un%20an%C3%A1lisis%20de%20pol%C3%ADtica%20p%C3%BAblica&f=false" target="_blank">Ver documento</a></li>

			  <li>_____. (2018). “Desigualdad en la atención de la salud en México. Un análisis de los programas y el gasto público en salud para la población sin seguridad social”. En Rodolfo de la Torre, Eduardo Rodríguez-Oreggia e Isidro Soloaga (eds.), <em>Política Social y bienestar. México desde el año 2000</em>, México: CIDE-UIA, pp. 161-197.<br><a href="https://books.google.com.mx/books?hl=es&lr=&id=KJtYDwAAQBAJ&oi=fnd&pg=IA4&dq=Pol%C3%ADtica+Social+y+bienestar.+M%C3%A9xico+desde+el+a%C3%B1o+2000&ots=LFIHVbdzeY&sig=c_bBi2WOb0QN7yp_XEZPFJQiUoU#v=onepage&q=Pol%C3%ADtica%20Social%20y%20bienestar.%20M%C3%A9xico%20desde%20el%20a%C3%B1o%202000&f=false" target="_blank">Ver documento</a></li>

			  <li>García, Brígida y Olga Rojas. (2004). <em>“Las uniones conyugales en América Latina: transformaciones en un marco de desigualdad social y de género”</em>. En Notas de población de la CEPAL, vol. XXXI, núm. 78, pp. 65-96.<br><a href="https://repositorio.cepal.org/handle/11362/12761" target="_blank">Ver documento</a></li>

			  <li>García, Brígida y Edith Pacheco (coords.). (2014). <em>Uso del tiempo y trabajo no remunerado en México</em>. México: El Colegio de México.<br><a href="https://books.google.com.mx/books?id=eAsqDwAAQBAJ&printsec=frontcover&dq=Uso+del+tiempo+y+trabajo+no+remunerado+en+M%C3%A9xico&hl=es&sa=X&ved=0ahUKEwiq6cXQnt_gAhXQo54KHb39DV0Q6AEIKTAA#v=onepage&q=Uso%20del%20tiempo%20y%20trabajo%20no%20remunerado%20en%20M%C3%A9xico&f=false" target="_blank">Ver documento</a><br>
Capítulos recomendados de este libro:
					<ul>
			  		<li>Pacheco, Edith y Nelson Florez. (2014). <em>“Entre lo rural y lo urbano: tiempo y desigualdades de género”</em></li>
			  		<li>Rodríguez, Mauricio y Brígida García. (2014). <em>“Trabajo doméstico y cuidado masculino”</em></li>
			  		<li>Sánchez, L. (2014). <em>“Desigualdad y trabajo doméstico en las parejas de doble ingreso en México”</em></li>
			  		<li>Santoyo, Laura y Edith Pacheco. (2014). <em>“El uso del tiempo de las personas en México según tipo de hogar. Una expresión de las desigualdades de género”</em></li>
					</ul>
				</li>

			  <li>Garza, Gustavo. (2000). <em>“Tendencias de las desigualdades urbanas y regionales en México, 1970-1996”</em>. Estudios demográficos y urbanos, vol. 15, núm. 3, pp. 489-532.<br><a href="https://estudiosdemograficosyurbanos.colmex.mx/index.php/edu/article/view/1085/1078" target="_blank">Ver documento</a></li>

			  <li>Gil Antón, Manuel. (2010). “Acceso a la educación superior: caminos, veredas, barrancos y vías rápidas”. En Fernando Cortés y Orlandina de Oliveira (coords.), <em>Los grandes problemas de México. Desigualdad social</em>. México: El Colegio de México, pp. 263-308.<br><a href="https://books.google.com.mx/books?id=5_gZAwAAQBAJ&printsec=frontcover&dq=Los+grandes+problemas+de+M%C3%A9xico.+Desigualdad+social&hl=es&sa=X&ved=0ahUKEwjQo6Lknt_gAhVOsZ4KHTl8CMgQ6AEIKTAA#v=onepage&q=Los%20grandes%20problemas%20de%20M%C3%A9xico.%20Desigualdad%20social&f=false" target="_blank">Ver documento</a></li>

			  <li>Lerner, Susana e Ivonne Szasz. (2008). <em>Salud reproductiva y condiciones de vida en México</em>. México: El Colegio de México.<br><a href="https://books.google.com.mx/books?id=49TprO8oUvIC&printsec=frontcover&dq=Salud+reproductiva+y+condiciones+de+vida+en+M%C3%A9xico&hl=es&sa=X&ved=0ahUKEwiw5czvnt_gAhVNvZ4KHaT-CJcQ6AEIKTAA#v=onepage&q=Salud%20reproductiva%20y%20condiciones%20de%20vida%20en%20M%C3%A9xico&f=false" target="_blank">Tomo 1</a><br><a href="https://libros.colmex.mx/ficha/?b=807" target="_blank">Tomo 2</a></li>

			  <li>Lezama, José Luis. (2018). <em>Cambio climático, ciudad y gestión ambiental: los ámbitos nacional e internacional</em>. México: El Colegio de México.<br><a href="https://books.google.com.mx/books?id=am1oDwAAQBAJ&printsec=frontcover&dq=Cambio+clim%C3%A1tico,+ciudad+y+gesti%C3%B3n+ambiental:+los+%C3%A1mbitos+nacional+e+internacional.&hl=es&sa=X&ved=0ahUKEwjwj4qcn9_gAhWEoJ4KHZVJD48Q6AEIKTAA#v=onepage&q=Cambio%20clim%C3%A1tico%2C%20ciudad%20y%20gesti%C3%B3n%20ambiental%3A%20los%20%C3%A1mbitos%20nacional%20e%20internacional.&f=false" target="_blank">Ver documento</a></li>

			  <li>Masferrer, Claudia; Landy Sánchez y Mauricio Rodríguez Abreu. (2017). <em>“Condiciones laborales de los migrantes de retorno de Estados Unidos”</em>. Apuntes para la equidad 2. México: El Colegio de México.<br><a href="https://trades.colmex.mx/assets/docs/apuntes-equidad-02.pdf" target="_blank">Ver documento</a></li>

			  <li>Mora, Minor. (2007). <em>“Notas para el análisis de la persistencia y la reconstitución de las desigualdades sociales en América Latina: una mirada desde el mercado de trabajo”</em>. Estudios Sociológicos, vol. 25, núm. 74, pp. 517-525.<br><a href="https://estudiossociologicos.colmex.mx/index.php/es/article/view/457/457" target="_blank">Ver documento</a></li>

			  <li>Mora, Minor y Orlandina de Oliveira. (2010). “Las desigualdades laborales: evolución, patrones y tendencias”. En Fernando Cortés y Orlandina de Oliveira (coords.), <em>Los grandes problemas de México V: Desigualdad social</em>. México: El Colegio de México.<br><a href="https://books.google.com.mx/books?id=5_gZAwAAQBAJ&printsec=frontcover&dq=.),+Los+grandes+problemas+de+M%C3%A9xico+V:+Desigualdad+social.&hl=es&sa=X&ved=0ahUKEwidgsywn9_gAhXEo54KHfxcC3sQ6AEIKTAA#v=onepage&q=.)%2C%20Los%20grandes%20problemas%20de%20M%C3%A9xico%20V%3A%20Desigualdad%20social.&f=false" target="_blank">Ver documento</a></li>

			  <li>Muñoz García, Humberto; Orlandina de Oliveira. y Claudio Stern (comps.). (1977). <em>Migración y desigualdad social en la Ciudad de México</em>. México: El Colegio de México.<br><a href="https://libros.colmex.mx/ficha/?b=569" target="_blank">Ver documento</a></li>

			  <li>Oliveira, Orlandina de. (2007). <em>“Reflexiones acerca de las desigualdades sociales y el género”</em>. Estudios Sociológicos, vol. 25, núm. 75, pp. 805-812.<br><a href="https://estudiossociologicos.colmex.mx/index.php/es/article/view/440/440" target="_blank">Ver documento</a></li>

			  <li>Oliveira, Orlandina de y Brígida García. (2012). <em>“Familia y trabajo: un recorrido por las diversas perspectivas de análisis”</em>. Estudios sociológicos, vol. XXX, núm. extraordinario, pp. 191-211.<br><a href="https://estudiossociologicos.colmex.mx/index.php/es/article/view/189/189" target="_blank">Ver documento</a></li>

			  <li>Pacheco, Edith. (2003). “Desigualdad de las remuneraciones de hombres y mujeres”. En Rolando Cordera (coord.) <em>La cuestión social: superación de la pobreza y política social a 7 años de Copenhague</em>. México: Instituto Nacional de Desarrollo Social / UNAM / Instituto para la Transición Democrática.</li>

			  <li>_____. (2015). <em>“Sustentabilidad y equidad: reflexiones en torno a la agenda latinoamericana post 2015”</em>. En Revista brasileña de estudios de población, vol. 32, núm. 3: pp. 599-607.<br><a href="http://www.scielo.br/pdf/rbepop/v32n3/0102-3098-rbepop-32-03-0599.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2018). <em>“Desigualdades en el consumo energético de los hogares en México”</em>. En Revista Digital Universitaria, vol. 13, núm. 10: pp. 1-8.<br><a href="http://www.revista.unam.mx/vol.13/num10/art101/art101.pdf" target="_blank">Ver documento</a></li>

			  <li>Rubalcava, Rosa María y Martha Schteingart. (2012). <em>Ciudades divididas. Desigualdad y segregación social en México</em>. México, El Colegio de México.<br><a href="https://www.jstor.org/stable/j.ctt14jxr3p" target="_blank">Ver documento</a></li>

			  <li>Sánchez, Landy y Julieta Pérez. (2016). <em>“Distintas o iguales: las diferencias en el trabajo doméstico de las parejas de doble ingreso entre las uniones libres y los matrimonios”</em>. En Estudios demográficos y urbanos, vol. 31, núm. 3(93): pp. 593-634.<br><a href="https://estudiosdemograficosyurbanos.colmex.mx/index.php/edu/article/view/11/pdf" target="_blank">Ver documento</a></li>

			  <li>Sobarzo, Horacio. (1999). <em>Estructura hacendaria y desigualdad regional en México. Documentos de trabajo 1999-11</em>. México: El Colegio de México.<br><a href="https://cee.colmex.mx/documentos/documentos-de-trabajo/1999/dt199911.pdf" target="_blank">Ver documento</a></li>

			  <li>Sobrino, Jaime. (2004). “Desigualdades regionales en México al final del siglo XX”. En Roberto García (comp.) <em>Contradicciones entre planeación y realidades regionales metropolitanas y socioambientales: los casos del norte de México, Puebla y Valle de México</em>. México: El Colegio de la Frontera Norte.</li>

			  <li>Solís, Patricio. (2012). <em>“Desigualdad social y transición de la escuela al trabajo en la Ciudad de México”</em>. Estudios Sociológicos, vol. 30, núm. 90, pp. 641-680.<br><a href="https://estudiossociologicos.colmex.mx/index.php/es/article/view/88/88" target="_blank">Ver documento</a></li>

			  <li>_____. (2013). <em>Desigualdad vertical y horizontal en las transiciones educativas en México</em>. Estudios Sociológicos, 31, pp. 63-95.<br><a href="https://www.jstor.org/stable/43202534?seq=1#page_scan_tab_contents" target="_blank">Ver documento</a></li>

			  <li>_____ (ed.). (2017). <em>Desigualdad, movilidad social y curso de vida en la Ciudad de México</em>. México: El Colegio de México.<br><a href="https://www.jstor.org/stable/j.ctt2204qk3" target="_blank">Ver documento</a><br>
Capítulo recomendado de este libro:
				<ul>
					<li>_____. (2017). <em>“Movilidad intergeneracional ocupacional y económica en la Ciudad de México”</em></li>
				</ul>
</li>

			  <li>Solís, Patricio y Marcelo Boado. (coords.). (2016). <em>Y sin embargo se mueve… Estratificación social y movilidad intergeneracional de clase en América Latina</em>. México: El Colegio de México y Centro de Estudios Espinosa Yglesias.<br><a href="https://libros.colmex.mx/ficha/?b=2350" target="_blank">Ver documento</a></li>

			  <li>Szasz, Ivonne. (2008). “Relaciones de género y desigualdad socioeconómica en la construcción social de las normas sobre la sexualidad en México”. En Susana Lerner e Ivonne Szasz. (2008). <em>Salud reproductiva y condiciones de vida en México</em>. México: El Colegio de México.<br><a href="https://libros.colmex.mx/ficha/?b=807" target="_blank">Ver documento</a></li>

			  <li>Szasz, Ivonne; Olga Rojas y José Luis Castrejón. (2008). <em>“Desigualdad de género en las relaciones conyugales y prácticas sexuales de los hombres mexicanos”</em>. Estudios demográficos y urbanos, vol. 2, núm. 68, pp. 205-232.<br><a href="https://estudiosdemograficosyurbanos.colmex.mx/index.php/edu/article/view/1310/1303" target="_blank">Ver documento</a></li>

			  <li>Szasz, Ivonne y Susana Lerner. (2010). “Salud reproductiva y desigualdades en la población”. En Brígida García y Manuel Ordorica (coords.), <em>Los grandes problemas de México I. Población</em>. México: El Colegio de México.<br><a href="https://estudiosdemograficosyurbanos.colmex.mx/index.php/edu/article/view/1402/1395" target="_blank">Ver documento</a></li>
 
			  <li>Tepichín, Ana María. (2011). “Desigualdades de género y pobreza femenina”. En su libro (coord.) <em>Género en contextos de pobreza</em>. México: El Colegio de México.<br><a href="https://ces.colmex.mx/pdfs/anamaria/a_tepichin_14.pdf" target="_blank">Ver documento</a></li>

			  <li>_____. (2015). <em>Conocimiento de la pobreza desde un enfoque de género. Propuesta de un marco analítico</em>. México: El Colegio de México.<br><a href="http://estudiosdegenero.colmex.mx/index.php/eg/article/view/179/84" target="_blank">Ver documento</a></li>
 
			  <li>_____. (coord.). (2015). <em>La subversión de los imaginarios: tres ensayos, tres contextos</em>. México: El Colegio de México.<br><a href="http://ana-maria-tepichin.colmex.mx/images/publicaciones/la-subversion-de-los-imaginarios-2015.pdf" target="_blank">Ver documento</a></li>
		  </ul>
      </div>
    </div>
  </div>
</section>

<!-- Fin de sección de la información --> 
<!-- Pie de página -->
<%= render 'inicio/footer' %>
<!-- End Footer Section --> 
