<!--[if lt IE 8]>
            <p class="browserupgrade">Está usando un navegador <strong>obsoleto</strong>. Le sugerimos <a href="http://browsehappy.com/">actualizar su navegador</a> para mejorar su navegación.</p>
        <![endif]--> 
<!-- Sección del encabezado -->
<%= render 'inicio/header' %>
<!-- Fin de sección de encabezado --> 
<!-- Banner superior -->
<section class="breadcrumb-section">
  <div class="section-overlay">
    <div class="container">
      <div class="breadcrumb-area">
        <h2 class="breadcrumb-title">Publicaciones seleccionadas de académicos de El Colegio de México en temas de desigualdadades</h2>
      </div>
    </div>
  </div>
</section>
<!-- Fin de banner superior --> 
<!-- Sección de la información -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="helping-description col-xs-12 col-md-10">
        
		  <ul class="order-list">
			  <li>Campos, R. (2016). <em>Cooperación y preferencias sociales. Análisis económico sobre altruismo, justicia, confianza y equidad</em>. México: El Colegio de México.<br><a href="http://www.jstor.org/stable/j.ctt1z27h3n" target="_blank">Ver documento</a></li>
			  <li>Cortés, F. y Orlandina de Oliveira (coords.) (2010). Desigualdad social. En Ordorica, Manuel y Prud’homme, Jean François (eds.), <em>Los Grandes Problemas de México</em>, tomo V. México: El Colegio de México.<br><a href="http://2010.colmex.mx/16tomos/V.pdf" target="_blank">Ver documento</a></li>
			  <li>Esquivel, G. (2015). <em>Desigualdad Extrema en México: Concentración del Poder Económico y Político</em>. OXFAM México.<br><a href="http://www.cambialasreglas.org/pdf/desigualdadextrema_informe.pdf" target="_blank">Ver documento</a></li>
			  <li>Flamand, L. y Moreno, C. (2015). <em>Seguro popular y federalismo en México. Un análisis de política públic</em>a. México: Centro de Investigación y Docencia Económicas.<br><a href="http://www.libreriacide.com/?P=producto&PRODfamily=libros&PRODclassification=1&PRODproduct=2427#.WlO2ivDibIW" target="_blank">Ver documento</a></li>
			  <li>Sánchez, L. (2014). Desigualdad y trabajo doméstico en las parejas de doble ingreso en México. En Brigida García y Edith Pacheco (coords), <em>Uso del Tiempo y Trabajo no remunerado en México</em>. México: El Colegio de México-ONU Mujeres-INMUJERES, pp. 471-507.<br><a href="http://www.jstor.org/stable/j.ctt1r69w16" target="_blank">Ver documento</a></li>
			  <li>Solís, P. (2013). Desigualdad vertical y horizontal en las transiciones educativas en México. <em>Estudios Sociológicos</em>, 31, pp. 63-95.<br><a href="https://www.jstor.org/stable/43202534?seq=1#page_scan_tab_contents" target="_blank">Ver documento</a></li>
			  <li>Solís, P. y Boado M. (coords.). (2016). <em>Y sin embargo se mueve...Estratificación social y movilidad intergeneracional de clase en América Latina</em>. México: Centro de Estudios Espinosa Yglesias-El Colegio de México.<br><a href="https://www.jstor.org/stable/43202534?seq=1#page_scan_tab_contents" target="_blank">Ver documento</a></li>
			  <li>Tepichín, A. (coord.). (2015). <em>La subversión de los imaginarios: tres ensayos, tres contextos</em>. México: El Colegio de México.<br><a href="http://ana-maria-tepichin.colmex.mx/images/publicaciones/la-subversion-de-los-imaginarios-2015.pdf" target="_blank">Ver documento</a></li>
			  <li>Tepichín, A. (2015). <em>Conocimiento de la pobreza desde un enfoque de género. Propuesta de un marco analítico</em>. México: El Colegio de México.<br><a href="http://libros.colmex.mx/index.php/novedades-editoriales/item/conocimiento-de-la-pobreza-desde-un-enfoque-de-genero-propuesta-de-un-marco-analitico" target="_blank">Ver documento</a></li>
		  </ul>
      </div>
    </div>
  </div>
</section>

<!-- Fin de sección de la información --> 
<!-- Pie de página -->
<%= render 'inicio/footer' %>
<!-- End Footer Section --> 
<% if false %>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.0.min.js"><\/script>')</script> 
<!-- Bootstarp js --> 
<script src="assets/js/bootstrap.min.js"></script> 
<!-- Google Map --> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg"></script> 
<script src="assets/js/gmap.script.js"></script> 
<!-- Progressbar Js --> 
<script src="assets/js/circle.progress.js"></script> 
<!-- Count Down --> 
<script src="assets/js/TimeCircles.js"></script> 
<!-- Custom ScrollBar  --> 
<script src="assets/js/enscroll-0.6.2.min.js"></script> 
<!-- LightCase  --> 
<script src="assets/js/lightcase.js"></script> 
<!-- Isotop --> 
<script src="assets/js/isotope.pkgd.min.js"></script> 
<!-- Masonry --> 
<script src="assets/js/masonry.js"></script> 
<!-- Swipper --> 
<script src="assets/js/swiper.min.js"></script> 
<!-- Flex Slider --> 
<script src="assets/js/jquery.flexslider.js"></script> 
<!-- NST slider --> 
<script src="assets/js/jquery.nstSlider.min.js"></script> 
<!-- Main Js --> 
<script src="assets/js/functions.js"></script>
<% end %>
